<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
    <h2>Bem-Vindo a página Hello</h2>
    <br/>
    <p>Você está com o usuário {{usuario}}</p>
    <button>
        <a href="/">Menu Principal</a>
    </button>
    <button>
        <a href="/hello/Bruno_Soares">Menu Hello</a>
    </button>
</body>
</html>