<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Site com Template</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h2>Bem-Vindo ao meu Site</h2>
    <br/>
    <p>Primeiro Site usando template HTML com Flask</p>
    <br/>
    <button>
        <a href="/">Menu Principal</a>
    </button>
    <button>
        <a href="/hello/Bruno_Soares">Menu Hello</a>
    </button>
</body>
</html>